/* #Switch{
    padding-right: 10px;
    padding-left: 10px;
}
#Switch #checkboxInput {
    display: none;
}

#Switch .toggleSwitch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60px;
    height: 20px;
    background-color: white;
    border-radius: 40px;
    cursor: pointer;
    transition-duration: .5s;
    box-shadow: 0 0 20px rgba(255, 255, 255);
}
#Switch .toggleSwitch::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 50%;
    left: 0;
    background: conic-gradient(rgba(26, 26, 26, 0.555), white, rgba(26, 26, 26, 0.555), white, rgba(26, 26, 26, 0.555));
    border-radius: 40px;
    transition-duration: .5s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.281);
}
#Switch #checkboxInput:checked+.toggleSwitch::after {
    transform: translateX(100%);
    transition-duration: .5s;
}
#Switch #checkboxInput:checked+.toggleSwitch {
    background-color: rgb(0, 89, 255);
    transition-duration: .5s;
    box-shadow: 0 0 20px rgba(255, 255, 255);
}
 */


 #Switch{
    #checkbox {
      display: none;
    }
    
    .switch {
      position: relative;
      width: 40px;
      height: 40px;
      background-color: rgb(99, 99, 99);
      border-radius: 50%;
      z-index: 1;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      font-size: 0.9em;
      font-weight: 700;
      color: rgb(37, 37, 37);
      border: 2px solid rgb(126, 126, 126);
      box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
    }
    
    .svg {
      position: relative;
      width: 30%;
      height: 30%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .svg path {
      fill: rgb(37, 37, 37);
    }
    
    
    /* #checkbox:checked + .switch .svg {
      filter: drop-shadow(0px 0px 3px rgb(222, 151, 255));
    }
    
    #checkbox:checked + .switch .svg path {
      fill: rgb(255, 255, 255);
    }
    
    #checkbox:checked + .switch {
      box-shadow: 0px 0px 1px rgb(222, 151, 255) inset,
          0px 0px 2px rgb(222, 151, 255) inset,
          0px 0px 10px rgb(222, 151, 255) inset,
          0px 0px 40px rgb(222, 151, 255),
          0px 0px 100px rgb(222, 151, 255),
          0px 0px 5px rgb(222, 151, 255);
      border: 2px solid rgb(255, 255, 255);
      background-color: rgb(152, 107, 172);
      color: rgb(255, 255, 255);
    } */
      
    
     }
    
     #header{
        .switch {
            box-shadow: 0px 0px 1px rgb(255, 255, 255) inset,
                0px 0px 2px rgb(255, 255, 255) inset,
                0px 0px 10px rgb(255, 255, 255) inset,
                0px 0px 40px rgb(255, 255, 255),
                0px 0px 100px rgb(255, 255, 255),
                0px 0px 5px rgb(255, 255, 255);
            border: 2px solid rgb(255, 255, 255);
            /* background-color: rgb(152, 107, 172); */
            /* color: rgb(255, 255, 255);} */
        }
        
    
     }
    
     #RecruitmentNavbar{
       .switch .svg {
            filter: drop-shadow(0px 0px 3px rgb(222, 151, 255));
          }
          
    .switch .svg path {
            fill: rgb(255, 255, 255);
          }
          
         .switch {
            box-shadow: 0px 0px 1px rgb(222, 151, 255) inset,
                0px 0px 2px rgb(222, 151, 255) inset,
                0px 0px 10px rgb(222, 151, 255) inset,
                0px 0px 40px rgb(222, 151, 255),
                0px 0px 100px rgb(222, 151, 255),
                0px 0px 5px rgb(222, 151, 255);
            border: 2px solid rgb(255, 255, 255);
            background-color: rgb(152, 107, 172);
            color: rgb(255, 255, 255);
          }
     }